workflows/n8n/02_weekly_seo_report.json
{
  "name": "02 — Rapport SEO Hebdomadaire (Biz Manager)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1 }] },
        "triggerAtDay": [1],
        "triggerAtHour": 8,
        "triggerAtMinute": 0
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Chaque lundi 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENTS_API_URL }}/biz-manager/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-API-Key", "value": "={{ $env.AGENTS_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "Génère un rapport SEO hebdomadaire structuré pour notre site. Inclus : résumé des performances de la semaine, top 5 pages, top 5 requêtes, opportunités à saisir, actions recommandées pour la semaine. Ton : professionnel, concis, orienté action."
            },
            {
              "name": "context",
              "value": "=Semaine du {{ $now.minus(7, 'days').toFormat('dd/MM/yyyy') }} au {{ $now.toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Biz Manager — Rapport SEO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SENDER_EMAIL }}",
        "toEmail": "={{ $env.REPORT_RECIPIENTS }}",
        "subject": "=📊 Rapport SEO — semaine du {{ $now.minus(7, 'days').toFormat('dd/MM') }}",
        "emailType": "text",
        "message": "={{ $json.result }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Envoyer par email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENTS_API_URL }}/biz-manager/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-API-Key", "value": "={{ $env.AGENTS_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=Crée un Google Doc avec ce rapport SEO hebdomadaire et archive-le dans le dossier 'Rapports SEO' sur Google Drive :\n\n{{ $('Biz Manager — Rapport SEO').item.json.result }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Archiver sur Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Chaque lundi 8h": { "main": [[{ "node": "Biz Manager — Rapport SEO", "type": "main", "index": 0 }]] },
    "Biz Manager — Rapport SEO": { "main": [[{ "node": "Envoyer par email", "type": "main", "index": 0 }]] },
    "Envoyer par email": { "main": [[{ "node": "Archiver sur Drive", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "notes": "Variables n8n requises : AGENTS_API_URL, AGENTS_API_KEY, SENDER_EMAIL, REPORT_RECIPIENTS. Credentials SMTP configurés."
}
