workflows/n8n/03_email_triage.json
{
  "name": "03 — Triage Email entrant (Biz Manager)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Toutes les 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "labelIds": ["INBOX", "UNREAD"]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Lire emails non lus",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [300, 300],
      "notes": "Configurer les credentials Google OAuth2 dans n8n"
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $json.id ? 1 : 0 }}", "operation": "larger", "value2": 0 }]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Y a-t-il des emails ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENTS_API_URL }}/biz-manager/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=Analyse cet email et réponds en JSON avec : {\"priority\": \"high|medium|low\", \"category\": \"prospect|client|support|spam|other\", \"summary\": \"résumé en 1 phrase\", \"suggested_reply\": \"brouillon de réponse si nécessaire\", \"action\": \"action recommandée\"}\n\nDE : {{ $json.from }}\nSUJET : {{ $json.subject }}\nCORPS : {{ $json.text }}"
            }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Biz Manager — Analyser email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 200]
    },
    {
      "parameters": {
        "jsCode": "const analysis = JSON.parse($input.item.json.result);\nreturn [\n  {\n    json: {\n      ...analysis,\n      email_id: $('Lire emails non lus').item.json.id,\n      from: $('Lire emails non lus').item.json.from,\n      subject: $('Lire emails non lus').item.json.subject,\n      is_high_priority: analysis.priority === 'high',\n    }\n  }\n];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Parser analyse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.is_high_priority }}", "value2": true }]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Priorité haute ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_ALERT_CHANNEL }}",
        "text": "=🔴 *Email prioritaire*\n*De :* {{ $json.from }}\n*Sujet :* {{ $json.subject }}\n*Résumé :* {{ $json.summary }}\n*Action :* {{ $json.action }}"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Alerte Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1300, 100],
      "notes": "Optionnel : configurer Slack credentials"
    }
  ],
  "connections": {
    "Toutes les 30 min": {
      "main": [[{ "node": "Lire emails non lus", "type": "main", "index": 0 }]]
    },
    "Lire emails non lus": {
      "main": [[{ "node": "Y a-t-il des emails ?", "type": "main", "index": 0 }]]
    },
    "Y a-t-il des emails ?": {
      "main": [
        [{ "node": "Biz Manager — Analyser email", "type": "main", "index": 0 }],
        []
      ]
    },
    "Biz Manager — Analyser email": {
      "main": [[{ "node": "Parser analyse", "type": "main", "index": 0 }]]
    },
    "Parser analyse": {
      "main": [[{ "node": "Priorité haute ?", "type": "main", "index": 0 }]]
    },
    "Priorité haute ?": {
      "main": [
        [{ "node": "Alerte Slack", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "notes": "Prérequis : Google OAuth2, AGENTS_API_URL. Slack optionnel."
}
