workflows/n8n/05_content_calendar.json
{
  "name": "05 — Calendrier Contenu Hebdomadaire (Biz Manager)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1 }] },
        "triggerAtDay": [5],
        "triggerAtHour": 10,
        "triggerAtMinute": 0
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000001",
      "name": "Chaque vendredi 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENTS_API_URL }}/biz-manager/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-API-Key", "value": "={{ $env.AGENTS_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=Crée un calendrier éditorial complet pour la semaine prochaine.\n\nProduis exactement ce format JSON :\n{\n  \"linkedin\": [\n    {\"day\": \"Lundi\", \"post\": \"texte du post\", \"hashtags\": [\"#tag1\"]},\n    {\"day\": \"Mercredi\", \"post\": \"texte du post\", \"hashtags\": [\"#tag2\"]},\n    {\"day\": \"Vendredi\", \"post\": \"texte du post\", \"hashtags\": [\"#tag3\"]}\n  ],\n  \"instagram\": [\n    {\"day\": \"Mardi\", \"caption\": \"légende\", \"visual_idea\": \"idée visuelle\"},\n    {\"day\": \"Jeudi\", \"caption\": \"légende\", \"visual_idea\": \"idée visuelle\"}\n  ],\n  \"newsletter_topic\": \"sujet proposé pour la newsletter\"\n}\n\nThème de la semaine : tech et productivité. Ton : professionnel mais accessible."
            }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000002",
      "name": "Biz Manager — Générer contenu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.result;\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nconst calendar = match ? JSON.parse(match[0]) : {};\nreturn [{ json: { calendar, raw } }];"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000003",
      "name": "Parser le calendrier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENTS_API_URL }}/biz-manager/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-API-Key", "value": "={{ $env.AGENTS_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=Crée un Google Doc 'Calendrier Contenu — semaine du {{ $now.plus(7, 'days').toFormat('dd/MM/yyyy') }}' avec ce planning éditorial :\n\n{{ $json.raw }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000004",
      "name": "Sauvegarder sur Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SENDER_EMAIL }}",
        "toEmail": "={{ $env.CONTENT_TEAM_EMAIL }}",
        "subject": "=📅 Calendrier contenu — semaine du {{ $now.plus(7, 'days').toFormat('dd/MM') }}",
        "emailType": "text",
        "message": "=Voici le calendrier éditorial de la semaine prochaine :\n\n{{ $('Biz Manager — Générer contenu').item.json.result }}\n\nBonne semaine !"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000005",
      "name": "Envoyer à l'équipe",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Chaque vendredi 10h": { "main": [[{ "node": "Biz Manager — Générer contenu", "type": "main", "index": 0 }]] },
    "Biz Manager — Générer contenu": { "main": [[{ "node": "Parser le calendrier", "type": "main", "index": 0 }]] },
    "Parser le calendrier": { "main": [[{ "node": "Sauvegarder sur Drive", "type": "main", "index": 0 }, { "node": "Envoyer à l'équipe", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "notes": "Variables n8n requises : AGENTS_API_URL, AGENTS_API_KEY, SENDER_EMAIL, CONTENT_TEAM_EMAIL"
}
